<div class="modal-dialog">

  <div class="modal-content">

    <div class="modal-header">
      <h4 class="modal-title"><%= title %></h4>
    </div>

    <div class="modal-body">
      <p><%= body %></p>
    </div>

    <div class="modal-footer">
      <button type="button" 
              class="btn btn-default js-secondary">
        <%= secondary %>
      </button>
      <button type="button" 
              class="btn btn-primary js-primary">
        <%= primary %>
      </button>
    </div>

  </div>

</div>
